{% extends 'main.html' %}
{% block content %}
    <div class="blogpost">
        <div align="right">{{ entry.author }}, {{ entry.created|date:"d/m/Y H:i" }}
        {% if entry.created != entry.updated %}
        (updated: {{ entry.updated|date:"d/m/Y H:i" }})
        {% endif %}
        </div>
        {% if request.user == entry.author %}
        (<a href="{% url 'blog:entry-edit' entry.id%}">Edit</a>)
        (<a href="{% url 'blog:entry-delete' entry.id%}">Delete</a>)
        {% endif %}
        <a href="{% url 'blog:entry-details' entry.id %}">
            <h2>{{ entry.title }}</h2>
            {{ entry.content|linebreaksbr }}
        </a>
    </div>
{% endblock content %}