{%  load i18n %}
<div class="topbar">
    <div><a href="{% url 'home' %}" class="homelink"><h1>Blog app</h1></a></div>
    {% if user.is_authenticated %}


    <div aling="right">
        <b>{{user.username}}</b> (<a href="{% url 'logout' %}">logout</a>)
    </div>

    {% else %}
    <div>
        <a href="{% url 'login' %}">Login</a>
        or
        <a href="{% url 'register' %}">Register</a>
    </div>
    {% endif %}

</div>
{#{% language 'pl' %}#}
<div class="navbar">
    <a href="{% url 'home' %}">
        {# Translators: Link to homepage #}
        {% translate "Home" %}
    </a>
    <a href="{% url 'authors' %}">{% translate "Browse Authors" %}</a>
    {% if user.is_authenticated %}
    {# Translators: Page listing entries owned by logged in user #}
    <a href="{% url 'entry-owned' %}">

        {% translate "My posts" %}
    </a>

    <a href="{% url 'entry-create' %}">
        {# Translators: link to a page, where user edits and submits new post #}
        {% translate "Add blog post" %}
    </a>

    {% endif %}
</div>
{#{% endlanguage %}#}